# node_modules
node_modules/

# Testes and mocks
**.test.*
**.spec.*
jest.config.js

**/mock/

# Lint
.eslintrc.js

# Environment variables
.env
.env.local
.env.development
.env.test

# Git config's
.git
.gitignore

# Github
.github
LICENSE
README.md
CONTRIBUTING.md

# Debug
.vscode

# Docker config
Dockerfile
docker-compose.yml
.dockerignore

# Packages
yarn.lock
